<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="webone-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <!-- One-way binding-->
    <h2>[[name]]</h2>
    <h2>[[age]]</h2>
    <!-- One-way binding-->
    <input type="text" value="{{name::input}}" />
    <input type="range" min="18" max="120" value="{{age::input}}" />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WeboneApp extends Polymer.Element {
      static get is() { return 'webone-app'; }
      static get properties() {
        return {
          name: {
            type: String,
            value: 'Polymer'
          },
          age: {
            type: Number,
            value: 45
          }
        };
      }
    }

    window.customElements.define(WeboneApp.is, WeboneApp);
  </script>
</dom-module>
