<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="viewaccount-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <h1>Hello BBVA Accounts</h1>
    <div class="row">
     <h2 class="col-md-12">Accounts</h2>
     <h2 class="col-md-5">IBAN {{iban}}</h2>
     <h2 class="col-md-5">Moneda {{currency}}</h2>
     <h2 class="col-md-5">Saldo {{balance}}</h2>
    <!--
     <button class="btn btn-info">
       <a href="http://localhost:4000/colbbva/v3/accounts/{{user_id}}/movements" style="a{text-decoration: none}">Ver mis movimientos</a>
     </button>
   -->
    </div>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>
    <!--url="http://localhost:4000/colbbva/v3/accounts/{{user_id}}"-->

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:4000/colbbva/v3/users/{{user_id}}/accounts"
      handle-as="json"
      on-response="showData"></iron-ajax>

      <template is="dom-repeat" items="{{accounts}}" index-as="index">
        <h5>IBAN - {{item.IBAN}}</h5>
        <h5>Saldo - {{item.balance}}</h5>
        <br>
      </template>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewaccountApp extends Polymer.Element {
      static get is() { return 'viewaccount-app'; }
      static get properties() {
        return {
          iban: {
            type: String
          },
          user_id: {
            type: String
          },
          currency: {
            type: String
          },
          balance: {
            type: String
          },
          accounts: {
            type: Array
          }
        };
      }

      showData(data){

        this.accounts = data.detail.response;
        //console.log("Hola" + data);
        //var element = data.detail.response[0];
        //var idData = data.detail.response[0].id;
        //var firstData = data.detail.response[0].first_name;
        //var lastData = data.detail.response[0].last_name;
        //var emailData = data.detail.response[0].email;
        //console.log(idData, firstData, lastData, emailData);
        //this.iban = data.detail.response.IBAN;
        //this.user_id = data.detail.response.user_id;
        //this.currency = data.detail.response.currency;
        //this.balance = data.detail.response.balance;
      }

    }
    window.customElements.define(ViewaccountApp.is, ViewaccountApp);
  </script>
</dom-module>
