<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="webspa-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <h2>Hello [[prop2]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class WebspaApp extends Polymer.Element {
      static get is() { return 'webspa-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'webspa-app polymer hahahahaha'
          },
          prop2: {
            type: String,
            value: 'Nueva propiedad con polymer en en el web component !!!!!!!'
          }
        };
      }
    }

    window.customElements.define(WebspaApp.is, WebspaApp);
  </script>
</dom-module>
