<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <h1>Hello BBVA Login</h1>
    <div class="row">
      <h2 class="col-md-12">Login Usuario</h2>
    </div>
    <input type="email" placeholder="Email" value="{{email::input}}">
    <br>
    <input type="password" placeholder="Password" value="{{password::input}}">
    <br>
    <button class="btn btn-success" on-click="login">Login</button>
    <!-- $ por ser un atributo HTML en vez de un elemnto polymer
    <my-componente my-hidden = {{isLogged}}
    <span hidden$ =
    -->
    <span hidden$="{{!isLogged}}">Logado</span>

    <iron-ajax
     id="doLogin"
     auto
     url="http://localhost:4000/colbbva/v3/login4"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          }
        };
      }

      login() {
      console.log("El usuario ha pulsado el botón.");
      var loginData = {
        "email" : this.email,
        "password" : this.password
      };
      // el $ para acceder a elemenos propios del shadow DOM (al iron-ajax)
      // convertimos el objeto JS a un JSON
      // el $ es por convención
      // body es una propiedad del iron-ajax
      this.$.doLogin.body = JSON.stringify(loginData);
      // hacemos petición con los datos del formulario del iron-ajax
      this.$.doLogin.generateRequest();
      console.log("Petición enviada");
    }

    manageAJAXResponse(data) {
      console.log("Recibida respuesta del servidor");
      console.log(data.detail.response);
      this.isLogged = true;
    // redirigir
    // window.location = "/user/" + data.detail.response.idUsuario;
    }

    showError(error) {
      //console.log("Hubo un error");
      console.log({"msg":error});
    }

    }
    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
