<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<!-- Añadir el iron-ajax desde bower para nuestra web -->
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="viewuser-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- One-way binding-->
    <!--
    <h2>[[first_name]]</h2>
    <h2>[[last_name]]</h2>
    <h2>[[email]]</h2>
    -->
    <!-- Two-way binding-->
    <!--
    <input type="text" value="{{name::input}}" />
    <input type="range" min="18" max="120" value="{{age::input}}" />
    -->
    <h1>Hello BBVA</h1>
    <div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h2 class="col-md-12">User</h2>
     <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
     <h2 class="col-md-5">y mi email es {{email}}</h2>
     <button class="btn btn-info">
       <a href="http://localhost:4000/colbbva/v3/users/{{id}}/accounts" style="a{text-decoration: none}">Ver mis cuentas</a>
     </button>
    </div>
    <button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button>
    <button class="btn btn-info">Info</button>
    <button class="btn btn-danger">Danger</button>
    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:4000/colbbva/v3/users/{{id}}"
      handle-as="json"
      on-response="showData"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ViewuserApp extends Polymer.Element {
      static get is() { return 'viewuser-app'; }
      static get properties() {
        return {
          id: {
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

      showData(data){
        console.log("Hola" + data);
        //var element = data.detail.response[0];
        //var idData = data.detail.response[0].id;
        //var firstData = data.detail.response[0].first_name;
        //var lastData = data.detail.response[0].last_name;
        //var emailData = data.detail.response[0].email;
        //console.log(idData, firstData, lastData, emailData);
        this.id = data.detail.response.id;
        this.first_name = data.detail.response.first_name;
        this.last_name = data.detail.response.last_name;
        this.email = data.detail.response.email;
      }

    }
    window.customElements.define(ViewuserApp.is, ViewuserApp);
  </script>
</dom-module>
